<div>
    <div class="mt-4">
    <form method="POST">
        <div class="form-group"></div>
        <label for="search-input"> Keywords </label>
        <input type = "text" name="q" class="form-control" id="search-input" placeholder="Enter keywords ..." >
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    </div>
</div>

